<div class="flex-container">

  <%= render "search_form" %>

  <% if params[:commit] %>
    <% if @flights.empty? %>
      <p>Sorry, no results matched your search.</p>
    <% else %>
      <%= render "feed" %>
    <% end %>
  <% end %>
    
</div>
